{% extends 'frontbase/base.html' %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/beauty_album.min.css' %}">
{% endblock %}

{% block title %}经典图集珍藏{% endblock %}

{% block main %}
    <!-- 每日更新图集 开始 -->
    <div class="container border mt-3" id="altas">
        <div class="imgs_list row d-flex flex-row">
            <p>经典图集珍藏</p>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24110/32977/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.28 悠悠酱yoyoyo</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27717/32976/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.23 No.2184 陈小喵</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27614/32975/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.23 No.2182 良人非爱人</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24936/32974/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[YOUMI] 2020.04.13 VOL.452 Egg-尤妮丝Egg</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24041/32973/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[CANDY] 2020.04.24 VOL.080 筱慧</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24936/32972/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[YOUMI] 2020.04.10 VOL.451 Egg-尤妮丝</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/22899/32971/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XIAOYU] 2020.04.23 VOL.295 芝芝Booty</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/21036/32970/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.29 沈梦瑶</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27867/32969/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.27 陈梵妮Fanny</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/26563/32968/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.17 九月生</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/23100/32967/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[HuaYang] 2020.04.15 VOL.237 梦心月</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/22204/32966/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.21 No.2177 Angela小热巴</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/26377/32965/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.21 No.2174 BABY_柒</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27826/32964/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[YOUMI] 2020.04.09 VOL.450 白露小猪</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="pages_list row mt-5 mb-3">
            <div class="page m-auto">

                <a href="http://www.uutu.me/index.php?c=New&amp;p=1">上一页</a>
                <a class="active" href="http://www.uutu.me/index.php?c=New&amp;p=1">1</a>
                <a href="javascript:void(0)">2</a>
                <a href="http://www.uutu.me/index.php?c=New&amp;p=3">3</a>
                <a href="javascript:void(0)" class="active2">...</a> <a href="http://www.uutu.me/index.php?c=New&amp;p=274">274</a>
                <a href="http://www.uutu.me/index.php?c=New&amp;p=3">下一页</a>

            </div>
        </div>
    </div>
    <!-- 每日更新图集 结束 -->
    <!-- 不可错过的热点图集 开始 -->
    <div class="container border mt-5" id="hot_altas">
        <div class="imgs_list row d-flex flex-row mb-3">
            <p class=" bg-warning">热点图集推荐</p>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24110/32977/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.28 悠悠酱yoyoyo</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27717/32976/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.23 No.2184 陈小喵</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27614/32975/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.23 No.2182 良人非爱人</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24936/32974/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[YOUMI] 2020.04.13 VOL.452 Egg-尤妮丝Egg</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24041/32973/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[CANDY] 2020.04.24 VOL.080 筱慧</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24936/32972/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[YOUMI] 2020.04.10 VOL.451 Egg-尤妮丝</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/22899/32971/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XIAOYU] 2020.04.23 VOL.295 芝芝Booty</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 不可错过的热点图集 结束 -->
{% endblock %}