{% extends 'frontbase/base.html' %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.min.css' %}">
{% endblock %}

{% block title %}首页{% endblock %}

{% block main %}
    <!-- 标签分类 开始 -->
    <div class="container border mt-3" id="tags">
        <div class="row">
            <p class="text-dark">个性标签</p>
            <ul class="tags_1">
	            <li class="manytags">
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.0.pk }}" class="badge badge-pill badge-success ">{{ beauty_tags.0.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.1.pk }} " class="badge badge-pill badge-success ">{{ beauty_tags.1.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.2.pk }} " class="badge badge-pill badge-success ">{{ beauty_tags.2.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.3.pk }} " class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.3.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.4.pk }} " class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.4.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.5.pk }} " class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.5.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.6.pk }} " class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.6.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.7.pk }} " class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.7.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.8.pk }} " class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.8.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.9.pk }} " class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.9.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.10.pk }} " class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.10.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.11.pk }} " class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.11.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.12.pk }} " class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.12.tag }}</a>
                </li>
                <li class="manytags">
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.13.pk }}" class="badge badge-pill badge-success ">{{ beauty_tags.13.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.14.pk }}" class="badge badge-pill badge-success ">{{ beauty_tags.14.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.15.pk }}" class="badge badge-pill badge-success ">{{ beauty_tags.15.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.16.pk }}" class="badge badge-pill badge-success ">{{ beauty_tags.16.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.17.pk }}" class="badge badge-pill badge-success badge-warning">{{ beauty_tags.17.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.18.pk }}" class="badge badge-pill badge-success badge-warning">{{ beauty_tags.18.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.19.pk }}" class="badge badge-pill badge-success badge-warning">{{ beauty_tags.19.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.20.pk }}" class="badge badge-pill badge-success badge-warning">{{ beauty_tags.20.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.21.pk }}" class="badge badge-pill badge-success badge-warning">{{ beauty_tags.21.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.22.pk }}" class="badge badge-pill badge-success badge-warning">{{ beauty_tags.22.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.23.pk }}" class="badge badge-pill badge-success badge-warning">{{ beauty_tags.23.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.24.pk }}" class="badge badge-pill badge-success badge-warning">{{ beauty_tags.24.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.25.pk }}" class="badge badge-pill badge-success badge-warning">{{ beauty_tags.25.tag }}</a>
                </li>
                <li class="manytags_special">
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.26.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.26.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.27.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.27.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.28.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.28.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.29.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.29.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.30.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.30.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.31.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.31.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.32.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.32.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.33.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.33.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.34.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.34.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.35.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.35.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.36.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.36.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.37.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.37.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.38.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.38.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.39.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.39.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.40.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.40.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.41.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.41.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.42.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.42.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.43.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.43.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.44.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.44.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.45.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.45.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.46.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.46.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.47.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.47.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.48.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.48.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.49.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.49.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.50.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.50.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.51.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.51.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.52.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.52.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.53.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.53.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.54.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.54.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.55.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.55.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.56.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.56.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.57.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.57.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.58.pk }}" class="badge badge-pill badge-success">{{ beauty_tags.58.tag }}</a>
                </li>
                <li class="manytags">
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.59.pk }}" class="badge badge-pill badge-success ">{{ beauty_tags.59.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.60.pk }}" class="badge badge-pill badge-success ">{{ beauty_tags.60.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.61.pk }}" class="badge badge-pill badge-success ">{{ beauty_tags.61.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.62.pk }}" class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.62.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.63.pk }}" class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.63.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.64.pk }}" class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.64.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.65.pk }}" class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.65.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.66.pk }}" class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.66.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.67.pk }}" class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.67.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.68.pk }}" class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.68.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.69.pk }}" class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.69.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.70.pk }}" class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.70.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.71.pk }}" class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.71.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.72.pk }}" class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.72.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.73.pk }}" class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.73.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.74.pk }}" class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.74.tag }}</a>
                    <a href="{% url 'album:tags_get_beauty' %}?p={{ beauty_tags.75.pk }}" class="badge badge-pill badge-success badge-warning ">{{ beauty_tags.75.tag }}</a>

                </li>
            </ul>
            <ul class="tags_2 ">
                <li class="tuijiguidang ">
                    <span class="badge badge-danger ">图集归档</span><br>
                    <a href=" ">雅拉伊</a>
                    <a href=" ">阳光宝贝</a>
                    <a href=" ">秀人网</a>
                    <a href=" ">美媛馆</a>
                    <a href=" ">爱蜜社</a>
                    <a href=" ">魅妍社</a>
                    <a href=" ">模范学院</a>
                    <a href=" ">尤蜜荟</a>
                    <a href=" ">蜜桃社</a>
                    <a href=" ">尤物馆</a>
                    <a href=" ">御女郎</a>
                    <a href=" ">嗲囡囡</a>
                    <a href=" ">瑞丝馆 (猫萌榜)</a>
                    <a href=" ">网红馆(糖果画报)</a>
                    <a href=" ">优星馆</a>
                    <a href=" ">影私荟</a>
                    <a href=" ">语画界</a>
                    <a href=" ">花の颜</a>
                    <a href=" ">星乐园</a>
                    <a href=" ">顽味生活</a>
                    <a href=" ">花漾</a>
                    <a href=" ">星颜社</a>
                    <a href=" ">尤果网</a>
                    <a href=" ">尤果圈</a>
                    <a href=" ">优果网</a>
                    <a href=" ">推女神</a>
                    <a href=" ">推女郎</a>
                    <a href=" ">波萝社</a>
                    <a href=" ">激萌文化</a>
                    <a href=" ">兔几盟</a>
                    <a href=" ">青豆客</a>
                    <a href=" ">果团网</a>
                    <a href=" ">熊川纪信</a>
                    <a href=" ">熊薄荷叶</a>
                    <a href=" ">头条女神</a>
                    <a href=" ">飞图网</a>
                    <a href=" ">尤美</a>
                    <a href=" ">蜜团女孩</a>
                    <a href=" ">蜜丝</a>
                    <a href=" ">轰趴猫</a>
                    <a href=" ">猎女神</a>
                    <a href=" ">克拉女神</a>
                    <a href=" ">51modo</a>
                    <a href=" ">RQ-STAR</a>
                    <a href=" ">YS-Web</a>
                    <a href=" ">DGC</a>
                    <a href=" ">Bomb.tv</a>
                    <a href=" ">@misty</a>
                    <a href=" ">Sabra.net</a>
                    <a href=" ">4K-STAR</a>
                </li>
                <li class="border-0 ">
                    <span class="badge badge-danger ">欧洲美国</span><br>
                    <a href=" ">美国</a>
                    <a href=" ">俄罗斯</a>
                    <a href=" ">乌克兰</a>
                    <a href=" ">英国</a>
                    <a href=" ">法国</a>
                    <a href=" ">德国</a>
                    <a href=" ">意大利</a>
                    <a href=" ">西班牙</a>
                    <a href=" ">荷兰</a>
                    <a href=" ">捷克</a>
                    <a href=" ">丹麦</a>
                    <a href=" ">土耳其</a>
                    <a href=" ">瑞典</a>
                    <a href=" ">葡萄牙</a>
                    <a href=" ">希腊</a>
                    <a href=" ">爱尔兰</a>
                    <a href=" ">挪威</a>
                    <a href=" ">加拿大</a>
                    <a href=" ">波兰</a>
                    <a href=" ">塞尔维亚</a>
                    <a href=" ">奥地利</a>
                    <a href=" ">比利时</a>
                    <a href=" ">波黑</a>
                    <a href=" ">白俄罗斯</a>
                </li>
                <li>
                    <span class="badge badge-danger ">亚洲日韩</span>
                    <br>
                    <a href=" ">亚洲</a>
                    <a href=" ">日韩</a>
                    <a href=" ">日本</a>
                    <a href=" ">韩国</a>
                    <a href=" ">伊朗</a>
                    <a href=" ">新加坡</a>
                    <a href=" ">以色列</a>
                    <a href=" ">中国内地</a>
                    <a href=" ">中国台湾</a>
                    <a href=" ">中国香港</a>
                    <a href=" ">中国澳门</a>
                    <a href=" ">马来西亚</a>
                    <a href=" ">越南</a>
                    <a href=" ">泰国</a>
                    <a href=" ">菲律宾</a>
                    <a href=" ">印度</a>
                </li>
                <li>
                    <span class="badge badge-danger ">美洲巴西</span>
                    <br>
                    <a href=" ">巴西</a>
                    <a href=" ">哥伦比亚</a>
                    <a href=" ">委内瑞拉</a>
                    <a href=" ">墨西哥</a>
                    <a href=" ">阿根廷</a>
                    <a href=" ">智利</a>
                    <a href=" ">古巴</a>
                    <a href=" ">波多黎各</a></li>
                <li>
                    <span class="badge badge-danger ">大洋洲非洲</span>
                    <br>
                    <a href=" ">澳大利亚</a>
                    <a href=" ">南非</a>
                    <a href=" ">新西兰</a>
                    <a href=" ">混血</a>
                    <a href=" ">欧美</a>
                    <a href=" ">非洲</a>
                </li>

            </ul>
        </div>
    </div>
    <!-- 标签分类 结束 -->

    <!-- 每日更新图集 开始 -->
    <div class="container border mt-3" id="altas">
        <div class="imgs_list row d-flex flex-row">
            <div class="p_message col-12">
                <p class="p_title">每日图集更新</p>
                <p class="p_more"><a href="#">查看更多>></a></p>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24110/32977/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.28 悠悠酱yoyoyo</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27717/32976/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.23 No.2184 陈小喵</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27614/32975/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.23 No.2182 良人非爱人</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24936/32974/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[YOUMI] 2020.04.13 VOL.452 Egg-尤妮丝Egg</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24041/32973/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[CANDY] 2020.04.24 VOL.080 筱慧</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24936/32972/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[YOUMI] 2020.04.10 VOL.451 Egg-尤妮丝</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/22899/32971/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XIAOYU] 2020.04.23 VOL.295 芝芝Booty</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/21036/32970/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.29 沈梦瑶</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27867/32969/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.27 陈梵妮Fanny</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/26563/32968/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.17 九月生</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/23100/32967/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[HuaYang] 2020.04.15 VOL.237 梦心月</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/22204/32966/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.21 No.2177 Angela小热巴</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/26377/32965/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.21 No.2174 BABY_柒</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27826/32964/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[YOUMI] 2020.04.09 VOL.450 白露小猪</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="load_more row mt-5 mb-4 justify-content-center">
            <a href="" class="btn ">点击查看更多美女图片</a>
        </div>
    </div>
    <!-- 每日更新图集 结束 -->

    <!-- 每日更新女神人物 结束 -->
    <div class="container mt-5 border" id="beauty">
        <div class="beauty_list row d-flex flex-row justify-content-around">
            <div class="p_message col-12">
                <p class="p_title">最新新晋女神</p>
                <p class="p_more"><a href="#">查看更多>></a></p>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img src="http://d.kancaijing.com.cn/attach/2019-07-16/1563262708DtCf.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong style="font-size: 15px; color:#f84f7a;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img src="http://d.kancaijing.com.cn/attach/2020-03-10/1583830168rbH4.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img src="http://d.kancaijing.com.cn/attach/2019-08-24/15666294418W44.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img src="http://d.kancaijing.com.cn/attach/2020-01-15/15790827615wgs.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2019-07-16/1563262708DtCf.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2020-01-15/15790827615wgs.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2020-01-15/15790827615wgs.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2019-07-16/1563262708DtCf.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2020-01-15/15790827615wgs.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2019-07-16/1563262708DtCf.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2019-07-16/1563262708DtCf.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2019-07-16/1563262708DtCf.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2019-07-16/1563262708DtCf.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2019-07-16/1563262708DtCf.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2019-07-16/1563262708DtCf.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2019-07-16/1563262708DtCf.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2019-07-16/1563262708DtCf.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集&lt;<strong
                                    style="font-size: 15px; color: red;">3</strong>&gt;个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2019-07-16/1563262708DtCf.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集<strong
                                    style="font-size: 15px; color: #f84f7a;">3</strong>个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2019-07-16/1563262708DtCf.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集<strong
                                    style="font-size: 15px; color: #f84f7a;">3</strong>个</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="beauty_img_display col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-secondary" src="http://d.kancaijing.com.cn/attach/2019-07-16/1563262708DtCf.jpg" alt="">
                    </a>
                    <div class="beauty_imgs_title">
                        <h2 class="title_height d-flex justify-content-center">
                            <a class="text-dark" href="">悠悠酱yoyoyo</a>
                        </h2>
                        <h2 class="title_height d-flex justify-content-center mt-2" style="text-decoration: underline;">
                            <a class="text-dark" style="font-size: 13px;" href="">图集<strong
                                    style="font-size: 15px; color: #f84f7a;">3</strong>个</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row more_beauty_button justify-content-center mt-5 mb-4">
            <a href="" class="btn btn-primary active">点击查看更多 女神</a>
        </div>
    </div>
    <!-- 每日更新女神人物 开始 -->
{% endblock %}