{% extends 'frontbase/base.html' %}
{% block title %}
	<title>{{ album.title }}</title>
{% endblock %}
{% block meta_tag %}
	<meta name="keywords" content="{{ album.title }} {% for tag in tags %}{{ tag.tag }} {% endfor %}">
	<meta name="description" content="{{ album.desc }}">
	<meta property="og:locale" content="zh_CN">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{ album.title }} {% for tag in tags %}{{ tag.tag }} {% endfor %}-meizitu.com妹子图官网">
	<meta property="og:description" content="{{ album.desc }}-meizitu.com妹子图官网">
	<meta property="og:url" content="{{ url }}">
	<meta property="og:site_name" content="妹子图 妹子图官网首页 女神图片 美女图片 人体艺术">
	<meta property="og:updated_time" content="{{ album.create_time }}">
	<meta property="article:section" content="{{ album.title }} {% for tag in tags %}{{ tag.tag }} {% endfor %}-meizitu.com妹子图官网">
	<meta property="article:published_time" content="{{ album.create_time }}">
	<meta property="article:modified_time" content="{{ album.modify_time }}">
	<meta property="twitter:description" content="{{ album.desc }}-meizitu.com妹子图官网">
	<meta property="twitter:title" content="{{ album.title }} {% for tag in tags %}{{ tag.tag }} {% endfor %}-meizitu.com妹子图官网">
{% endblock %}
{% block head %}
	<link rel="canonical" href="{{ url }}">
	<link rel="stylesheet" href="{% static 'css/pic_show.min.css' %}">
{% endblock %}

{% block main %}
	<!-- 图片展示区开始 -->
	<div class="container mt-3 mb-3" id="picshow">
		<div class="row pt-1 pb-2">
			<div class="col-12 desc_1">
				<div class="album_title text-center">
					<h1 class="mt-1 pb-2">{{ album.title }}</h1>
					<div class="album_tags mt-1 mb-2">
						<a href="javascript:void(0)" class="badge badge-secondary">{{ album.beauty_name }}</a>

						{% for tag in tags %}
							<a href="{{ tag.get_absolute_url }}" class="badge badge-secondary"
							   target="_blank">{{ tag.tag }}</a>
						{% endfor %}

					</div>
				</div>
			</div>
			<div class="col-10 desc_2 offset-1 text-center">
				<p class="album_desc text-secondary mt-1 mb-1">{{ album.desc }}</p>
				<p class="album-info text-secondary mt-2">该图集包含<strong
						class="text-danger">&nbsp;{{ album.pic.all.count }}张照片</strong>，在
					<strong>{{ album.create_time }}</strong> 创建，被浏览了 <strong>{{ album.watch_count }}</strong> 次</p>
				<a href="javascript:void(0)" class="btn btn-success mt-3 mr-1">下载这个图集</a>
				<a href="javascript:void(0)" class="btn btn-success mt-3 ml-1">下载其它小姐姐的图集</a>
			</div>
			<div class="col-12 album_photos mt-3">
				<div class="photos text-center">
				<div id="outerdiv"
				     style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
					<div id="innerdiv" style="position:absolute;">
						<img id="max_img" style="border:5px solid #fff;" src=""/>
					</div>
				</div>
					<ul id="pic">
						{% for pic in pics %}
							<li><img class="img-fluid lazyload" src="{% static 'images/400x400.gif' %}"
							         data-src="{{ url }}{{ pic.picture }}" alt="{{ album.title }}"></li>
						{% endfor %}
					</ul>
				</div>
				<div class="pages_list mt-5 mb-4">
					<div class="page m-auto d-flex justify-content-center">

						<ul class="pagination">
							{#上一页#}
							{% if page_obj.has_previous %}
								<li><a href="?p={{ page_obj.previous_page_number }}">上一页</a></li>
							{% else %}
								<li class="disabled"><a style="background: lightgrey" href="javascript:void(0);">上一页</a>
								</li>
							{% endif %}

							{# 是否需要出现三个点 #}
							{% if left_has_more %}
								<li><a href="?p=1">1</a></li>
								<li><a href="javascript:void(0);">...</a></li>
							{% endif %}

							{# 左边的页码 #}
							{% for left_page in left_pages %}
								<li><a href="?p={{ left_page }}">{{ left_page }}</a></li>
							{% endfor %}

							{# 当前的页面 #}
							{#                <li class="active"><a href="?p={{ current_page }}">{{ current_page }}</a></li>#}
							<li><a class="active" href="javascript:void(0);">{{ current_page }}</a></li>

							{# 右边的页码 #}
							{% for right_page in right_pages %}
								<li><a href="?p={{ right_page }}">{{ right_page }}</a></li>
							{% endfor %}

							{# 用来控制右边三个点 #}
							{% if right_has_more %}
								<li><a href="javascript:void(0);">...</a></li>
								<li><a href="?p={{ num_pages }}">{{ num_pages }}</a></li>
							{% endif %}

							{#下一页#}
							{% if page_obj.has_next %}
								<li><a href="?p={{ page_obj.next_page_number }}">下一页</a></li>
							{% else %}
								<li class="disabled"><a style="background: lightgrey" href="javascript:void(0);">下一页</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 图片展示区结束 -->

	<!-- 你可能感兴趣的其他图集 开始 -->
	{% include 'frontbase/suggest_album_5.html' with random_albums=random_albums %}
	<!-- 你可能感兴趣的其他图集 结束 -->

{% endblock %}

{% block jsfile %}
	<script src="{% static 'js/zoom_pic.min.js' %}"></script>
{% endblock %}