{% extends 'frontbase/base.html' %}

{% block title %}美女图集展示区-{{ tag }}{% endblock %}

{% block main %}
	<!-- 标签分类 开始 -->

	{% include 'frontbase/album_tags.html' with tag_chosen=tag %}
	<!-- 标签分类 结束 -->

	<!-- 每日更新图集 开始 -->
	<div class="container border mt-3" id="altas">
		<div class="imgs_list row d-flex flex-row">
			<div class="p_message col-12">
				<p class="p_title">美女图集</p>
			</div>
			{% for album in albums %}
				<div class="img_display col-6 col-sm-6 col-lg-3 pr-md-4 pl-md-4">
					<div class="thumbnail">
						<a class="imgs_link" href="{% url 'album:show_pic' album.uid %}">
							<img class="lazyload border border-light" src="" data-src="{{ url }}{{ album.cover_img }}"
							     alt="{{ album.beauty_name }}">
						</a>
						<div class="imgs_title">
							<h2 class="title_height">
								<a class="text-light" href="{% url 'album:show_pic' album.uid %}">{{ album.title }}</a>
							</h2>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="pages_list row mt-5 mb-3">
			<div class="page m-auto">
				<ul class="pagination">
					{#上一页#}
					{% if page_obj.has_previous %}
						<li><a href="?p={{ page_obj.previous_page_number }}">上一页</a></li>
					{% else %}
						<li class="disabled"><a style="background: lightgrey" href="javascript:void(0);">上一页</a></li>
					{% endif %}

					{# 是否需要出现三个点 #}
					{% if left_has_more %}
						<li><a href="?p=1">1</a></li>
						<li><a href="javascript:void(0);">...</a></li>
					{% endif %}

					{# 左边的页码 #}
					{% for left_page in left_pages %}
						<li><a href="?p={{ left_page }}">{{ left_page }}</a></li>
					{% endfor %}

					{# 当前的页面 #}
					{#                <li class="active"><a href="?p={{ current_page }}">{{ current_page }}</a></li>#}
					<li><a class="active" href="javascript:void(0);">{{ current_page }}</a></li>

					{# 右边的页码 #}
					{% for right_page in right_pages %}
						<li><a href="?p={{ right_page }}">{{ right_page }}</a></li>
					{% endfor %}

					{# 用来控制右边三个点 #}
					{% if right_has_more %}
						<li><a href="javascript:void(0);">...</a></li>
						<li><a href="?p={{ num_pages }}">{{ num_pages }}</a></li>
					{% endif %}

					{#下一页#}
					{% if page_obj.has_next %}
						<li><a href="?p={{ page_obj.next_page_number }}">下一页</a></li>
					{% else %}
						<li class="disabled"><a style="background: lightgrey" href="javascript:void(0);">下一页</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	<!-- 每日更新图集 结束 -->

	{% include 'frontbase/suggest_album_5.html' with random_albums=random_albums %}

{% endblock %}