{% extends 'cms/base.html' %}

{% block title %}
标签处理
{% endblock %}

{% block head %}
	<script src="{% static 'js/album_tags.min.js' %}"></script>
{% endblock %}

{% block content-header %}
标签处理
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-8">
	<div class="card">
              <div class="card-header">
		        <button id="add-btn" class="btn btn-primary">新增标签</button>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>标签名称</th>
                      <th>对应图集数量</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for tag in tags %}
			            <tr data-pk="{{ tag.pk }}" data-tag="{{ tag.tag }}">
	                      <td>{{ tag.pk }}</td>
	                      <td>{{ tag.tag }}</td>
	                      <td>{{ tag.album_tags.all.count }}</td>
	                      <td><button type="button" class="btn btn-sm btn-info edit_tag_btn">编辑</button>
		                      <button type="button" class="btn btn-sm btn-danger delete_tag_btn">删除</button>
	                      </td>
                        </tr>
	                {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
</div>
</div>
{% endblock %}