{% extends 'frontbase/base.html' %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/download.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jqcloud.css' %}">
{% endblock %}


{% block title %}Download 下载列表{% endblock %}

{% block main %}
    <!-- 内容区 开始 -->
    <div id="news_area" class="container mt-3">
        <div class="row d-flex justify-content-between">
            <div class="col-12 col-sm-12 col-lg-8 left_area card border-0">
                <div class="card-header bg-dark ">
                    <h2>最新更新文章</h2>
                </div>
                <ul class="list-group list-group-flush rounded-bottom">

                    <li class="list-group-item">
                        <a href="">结衣跌下宝座！历年票选《女生最想要的脸蛋》榜单揭晓！</a>
                        <span>2019-12-15</span>
                    </li>
                    <li class="list-group-item">
                        <a href="">结衣跌下宝座！历年票选《女生最想要的脸蛋》榜单揭晓！</a>
                        <span>2019-12-15</span>
                    </li>
                    <li class="list-group-item">
                        <a href="">结衣跌下宝座！历年票选《女生最想要的脸蛋》榜单揭晓！</a>
                        <span>2019-12-15</span>
                    </li>
                    <li class="list-group-item">
                        <a href="">结衣跌下宝座！历年票选《女生最想要的脸蛋》榜单揭晓！</a>
                        <span>2019-12-15</span>
                    </li>
                    <li class="list-group-item">
                        <a href="">结衣跌下宝座！历年票选《女生最想要的脸蛋》榜单揭晓！</a>
                        <span>2019-12-15</span>
                    </li>
                    <li class="list-group-item">
                        <a href="">结衣跌下宝座！历年票选《女生最想要的脸蛋》榜单揭晓！</a>
                        <span>2019-12-15</span>
                    </li>
                    <li class="list-group-item">
                        <a href="">结衣跌下宝座！历年票选《女生最想要的脸蛋》榜单揭晓！</a>
                        <span>2019-12-15</span>
                    </li>
                    <li class="list-group-item">
                        <a href="">结衣跌下宝座！历年票选《女生最想要的脸蛋》榜单揭晓！</a>
                        <span>2019-12-15</span>
                    </li>
                    <li class="list-group-item">
                        <a href="">结衣跌下宝座！历年票选《女生最想要的脸蛋》榜单揭晓！</a>
                        <span>2019-12-15</span>
                    </li>
                    <li class="list-group-item">
                        <a href="">结衣跌下宝座！历年票选《女生最想要的脸蛋》榜单揭晓！</a>
                        <span>2019-12-15</span>
                    </li>
                    <li class="list-group-item">
                        <a href="">结衣跌下宝座！历年票选《女生最想要的脸蛋》榜单揭晓！</a>
                        <span>2019-12-15</span>
                    </li>
                    <li class="list-group-item">
                        <a href="">结衣跌下宝座！历年票选《女生最想要的脸蛋》榜单揭晓！</a>
                        <span>2019-12-15</span>
                    </li>

                    <div class="more_news_button mt-4 mb-3 text-center">
                        <a href="" class="btn btn-success">查看更多文章</a>
                    </div>
                </ul>
            </div>
            <div class="col-3 d-none d-lg-block right_area rounded-bottom">
                <div class="card-header bg-dark">
                    <h2>热门标签</h2>
                </div>
                <!-- 这里调用的是JQCloud js插件，在这里生成的热门标签云 开始-->
                <div id="hot_tags" style="width: auto; height: 400px; border: 1px solid rgba(0, 0, 0, .125);"></div>
                <!-- 这里调用的是JQCloud js插件，在这里生成的热门标签云 结束 -->
            </div>
        </div>
    </div>
    <!-- 内容区 结束 -->
{% endblock %}

{% block jsfile %}
    <script src="{% static 'js/jqcloud-1.0.4.min.js' %}"></script>
    <script src="{% static 'js/news_list.min.js' %}"></script>
{% endblock %}