#beauty_article {
    .row {
        .article_left {
            padding: 0 0;
            nav {
                margin-bottom: -16px;
                ol {
                    padding: 7px 16px;
                }
            }
            .article_content {
                margin-top: 10px;
                .person_info {
                    border: 1px solid #e9ecef;
                    .beauty_header {
                        border-bottom: 1px dashed #eee;
                        background-color: #eee;
                    }
                    .info {
                        .imgss {
                            img {
                                width: 80%;
                                height: auto;
                            }
                        }
                        .rate {
                            .score {
                                font-size: 60px;
                            }
                            p {
                                font-size: 15px;
                                padding: 10px 0;
                            }
                        }
                    }
                }
                .person_detail {
                    border: 1px solid #e9ecef;
                    .title {
                        width: 100%;
                        padding: 7px 15px;
                        font-size: 20px;
                        font-weight: bold;
                        background-color: #eee;
                    }
                    .detail_body {
                        width: 100%;
                        padding: 15px 15px;
                        font-size: 15px;
                    }
                }
                .person_album {
                    border: 1px solid #e9ecef;
                    .title {
                        width: 100%;
                        padding: 7px 15px;
                        font-size: 20px;
                        font-weight: bold;
                        background-color: #eee;
                    }
                    .img_display {
                        margin-top: 15px;
                        .thumbnail {
                            .imgs_link {
                                img {
                                    width: 100%;
                                    height: auto;
                                    display: block;

                                }
                            }
                            .imgs_title {
                                .title_height {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    font-size: 14px;
                                    line-height: 1.2rem;
                                    margin-top: 7px;
                                    margin-bottom: -5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .article_right {
	  .adtitle {
		width: 100%;
		padding: 7px 15px;
		font-size: 20px;
		font-weight: bold;
		background-color: #ddd;
	  }
	}
    }
}