#news {
  .row {
	.news_left {
	  //padding-left: 0px;
	  padding-right: 30px;
	  font-size: 14px;
	  
	  div {
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;
		
		ul {
		  p {
			font-size: 15px;
			font-weight: 900;
			line-height: 34px;
			border-radius: 4px;
			color: #fff;
			background-color: #009A61;
			text-align: center;
			letter-spacing: 1px;
			margin: 5px 0;
		  }
		  
		  li {
			a {
			  display: block;
			  line-height: 32px;
			  border-radius: 4px;
			  color: #757575;
			  text-decoration: none;
			  
			  span {
				padding-left: 10px;;
			  }
			}
		  }
		}
	  }
	}
	
	.news_middle {
	  .news_item {
		.news_unit {
		  border: 1px solid #ddd;
		  border-radius: 5px;
		  
		  .news_unit_header {
			padding: 0 15px;
			
			h1 {
			  margin: 12px 0;
			  font-size: 22px;
			  font-weight: bold;
			  color: #343a40;
			}
		  }
		  
		  .news_unit_body {
			background: #f2f2f5;
			padding: 5px 15px 25px 15px;
			
			h5 {
			  padding: 0 15px;
			  font-size: 14px;
			  line-height: 21px;
			  letter-spacing: normal;
			  word-spacing: normal;
			  color: #757575;
			}
			
			.tags {
			  margin: 5px 0;
			}
			
			img {
			  border: 5px solid #fff;
			  border-radius: 5px;
			}
			
			.pub_time {
			  font-size: 12px;
			}
		  }
		  
		  .news_unit_footer {
			ul {
			  padding: 2px 0;
			  
			  li {
				width: 24%;
				display: inline-block;
				border-right: 1px #ddd solid;
				text-decoration: none;
				list-style: none; //去掉li前面的圆点
				a {
				  font-size: 12px;
				  color: #808080;
				  text-align: center;
				  text-decoration: none;
				  
				  span {
					text-align: center;
				  }
				}
			  }
			  
			  li:last-of-type {
				border: none;
			  }
			}
			
		  }
		}
		
		.media_item {
		  padding: 15px 0;
		  width: 100%;
		  overflow: hidden;
		  border-bottom: 1px solid #e8e8e8;
		  
		  .item_left {
			position: relative;
			float: left;
			margin-right: 12px;
			
			img {
			  border-radius: 2px;
			  width: 182px;
			  display: inline-block;
			  position: relative;
			  z-index: 2;
			}
			
			.recmd-tag {
			  position: absolute;
			  bottom: 0;
			  right: 8px;
			  width: 33px;
			  height: 16px;
			  background: rgba(0, 0, 0, .4);
			  font-size: 11px;
			  color: #fff;
			  text-align: center;
			  line-height: 16px;
			  overflow: hidden;
			  z-index: 2;
			}
			
		  }
		  
		  .item_right {
			a {
			  text-decoration: none;
			  h1 {
				color: #343a40;
				font-size: large;
				font-weight: 600;
				margin-bottom: 10px;
				line-height: 26px;
				max-height: 52px;
				overflow: hidden;
				-webkit-transition: .4s all;
				transition: .4s all;
				text-align: justify;
			  }
			  
			  p {
				padding: 0 20px 0 5px;
				color: #878787;
				font-size: 12px;
				height: 36px;
				line-height: 17px;
				margin-top: 10px;
				overflow: hidden;
				text-align: justify;
			  }
			}
			
			
			.news_item_tags {
			  margin-top: 20px;
			  .pub_time {
				font-size: 12px;
			  }
			}
		  }
		}
	  }
	  
	  .load_more_news_group {
		button {
		  color: #fff;
		  font-size: large;
		  font-weight: 500;
		  border: 1px solid #fff;
		  background-color: #f84f7a;
		}
	  }
	}
	
	.news_right {
	  padding-right: 0;
	  padding-left: 15px;
	  
	  .notices {
		.alert {
		  padding: 10px;
		  margin-bottom: 20px;
		  border: 1px solid #8a6d3b;
		  border-radius: 2px;
		}
		
		.alert-warning {
		  background-color: #fcf8e3;
		  border-color: #faebcc;
		  
		  a {
			text-decoration: none;
			color: #8a6d3b;
			letter-spacing: normal;
		  }
		}
	  }
	  
	  .in_money {
		p {
		  background-color: #28a745;
		  color: #fff;
		  font-size: small;
		  font-weight: 900;
		  padding: 1px 12px;
		  border: 1px solid #009A61;
		}
	  }
	  
	  .media_list {
		.recommend_title {
		  background-color: #28a745;
		  color: #fff;
		  font-size: 14px;
		  font-weight: 900;
		  padding: 5px 12px;
		  border: 1px solid #009A61;
		  
		  .more_btn {
			font-size: 14px;
		  }
		}
		
		.list_item {
		  border: 1px solid #ddd;
		  border-top: none;
		  padding: 5px 0 5px 5px;
		  
		  a {
			display: block;
			line-height: 23px;
			padding-left: 5px;
			font-size: 13px;
			//color: #343a40;
			color: #28a745;
		  }
		}
	  }
	}
  }
}