body {
  background-color: #eee;
}
.container-fluid {
    background-color: #28a745;
}
#picshow {
  border-bottom: 1px solid #ccc;
  .row {
	.desc_1 {
	  .album_title {
		h1 {
		  font-size: 30px;
		  font-weight: 500;
		}
		
		.album_tags {
		  a {
			font-size: 14px;
		  }
		}
	  }
	}
	
	.desc_2 {
	  p {
		font-size: 13px;
	  }
	  
	  a {
		font-size: 16px;
		font-weight: 600;
	  }
	}
	
	.album_photos {
	  padding: 0 0;
	  
	  .photos {
		#pic {
		  li {
			border: 1px solid #eee;
			
			img {
			  border: 5px solid #fff;
			  margin: 7px 0;
			  // width: 100%;
			  cursor: pointer;
			}
		  }
		}
	  }
	  
	  .pages_list {
		.page {
		  a {
			display: inline-block;
			padding: 0 10px;
			height: 28px;
			line-height: 28px;
			background: #fff;
			border-radius: 5px;
			border-bottom: 1px solid #ddd;
			margin: 0 5px;
			transition: .2s;
			color: #343a40;
			text-decoration: none;
		  }
		  
		  a.active {
			background-color: #f84f7a;
			color: #fff;
		  }
		}
	  }
	}
  }
}

