{% extends 'frontbase/base.html' %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/index.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/news_index.min.css' %}">
{% endblock %}

{% block title %}
	News index 文章首页
{% endblock %}

{% block main %}
	<!-- 内容区 开始 -->
	<div class="container mt-3" id="news">
		<div class="row">
			<div class="col-md-9 d-sm-8 news_left">

				<div class="news_nav">
					<ul>
						<li data-name=""><a class="active" href="javascript:;">最新资讯</a></li>
						<li data-name="快讯" class="web-mobile-only-has"><a href="javascript:;">快讯</a></li>
						<li data-name="新消费"><a href="javascript:;">新消费</a></li>
						<li data-name="教育"><a href="javascript:;">教育</a></li>
						<li data-name="物流"><a href="javascript:;">物流</a></li>
						<li data-name="保险医疗"><a href="javascript:;">保险医疗</a></li>
						<li data-name="出海"><a href="javascript:;">出海</a></li>
						<li data-name="干货"><a href="javascript:;">干货</a></li>
						<li data-name="活动"><a href="javascript:;">活动</a></li>
						<li data-name="其它"><a href="javascript:;">其它</a></li>
					</ul>
				</div>

				<div class="news_item mt-3">

					{% for news in newses %}
						<div class="media mb-2 ">
						<img src="{{ news.thumbnail }}"
						     class="align-self-center mr-3" alt="...">
						<div class="media-body">
							<h1>{{ news.title }}</h1>
							<p>{{ news.desc }}</p>
							<div class="news_item_tags">
								{% for news_category in news.category.all %}
									<a href="#" class="badge-btn badge badge-success">{{ news_category.name }}</a>
								{% endfor %}
								<span class="pub_time float-right pr-3">{{ news.pub_time|date }}</span>
							</div>
						</div>
					</div>
					{% endfor %}


					<div class="media mb-2 ">
						<img src="https://li-1302251434.cos.ap-nanjing.myqcloud.com/album/oB5abEHxaq8VzVR69GHFSv/280700.jpg"
						     class="align-self-center mr-3" alt="...">
						<div class="media-body">
							<h1>2019年剧情《侧颜/侧脸/失踪女孩》BD日语中字</h1>
							<p>透明的职业装，刻画出的是你绝色的欧派深沟，性感的小短裙遮不住你甜甜的蜜臀刻画出的是你，顺滑的黑丝里面，藏着的是一副压抑已久的肉体等待绽放！</p>
							<div class="news_item_tags">
								<a href="#" class="badge-btn badge badge-success">性感</a>
								<a href="#" class="badge-btn badge badge-success">美腿</a>
								<a href="#" class="badge-btn badge badge-success">丝袜</a>
								<a href="#" class="badge-btn badge badge-success">美臀</a>
								<span class="pub_time float-right pr-3">2020-06-26</span>
							</div>
						</div>
					</div>
					<div class="media mb-2 ">
						<img src="https://li-1302251434.cos.ap-nanjing.myqcloud.com/album/Egup9Z5gehXyV5XLd6VM8c/1583824540a4L8.jpg"
						     class="align-self-center mr-3" alt="...">
						<div class="media-body">
							<h1>2019年剧情《侧颜/侧脸/失踪女孩》BD日语中字</h1>
							<p>透明的职业装，刻画出的是你绝色的欧派深沟，性感的小短裙遮不住你甜甜的蜜臀刻画出的是你，顺滑的黑丝里面，藏着的是一副压抑已久的肉体等待绽放！</p>
							<div class="news_item_tags">
								<a href="#" class="badge-btn badge badge-success">性感</a>
								<a href="#" class="badge-btn badge badge-success">美腿</a>
								<a href="#" class="badge-btn badge badge-success">丝袜</a>
								<a href="#" class="badge-btn badge badge-success">美臀</a>
								<span class="pub_time float-right pr-3">2020-06-26</span>
							</div>
						</div>
					</div>
					<div class="media mb-2 ">
						<img src="https://static-image.xfz.cn/1605774048_347.png-website.news.list"
						     class="align-self-center mr-3" alt="...">
						<div class="media-body">
							<h1>2019年剧情《侧颜/侧脸/失踪女孩》BD日语中字</h1>
							<p>透明的职业装，刻画出的是你绝色的欧派深沟，性感的小短裙遮不住你甜甜的蜜臀刻画出的是你，顺滑的黑丝里面，藏着的是一副压抑已久的肉体等待绽放！</p>
							<div class="news_item_tags">
								<a href="#" class="badge-btn badge badge-success">性感</a>
								<a href="#" class="badge-btn badge badge-success">美腿</a>
								<a href="#" class="badge-btn badge badge-success">丝袜</a>
								<a href="#" class="badge-btn badge badge-success">美臀</a>
								<span class="pub_time float-right pr-3">2020-06-26</span>
							</div>
						</div>
					</div>
					<div class="media mb-2 ">
						<img src="https://li-1302251434.cos.ap-nanjing.myqcloud.com/album/Egup9Z5gehXyV5XLd6VM8c/1583824540a4L8.jpg"
						     class="align-self-center mr-3" alt="...">
						<div class="media-body">
							<h1>2019年剧情《侧颜/侧脸/失踪女孩》BD日语中字</h1>
							<p>透明的职业装，刻画出的是你绝色的欧派深沟，性感的小短裙遮不住你甜甜的蜜臀刻画出的是你，顺滑的黑丝里面，藏着的是一副压抑已久的肉体等待绽放！</p>
							<div class="news_item_tags">
								<a href="#" class="badge-btn badge badge-success">性感</a>
								<a href="#" class="badge-btn badge badge-success">美腿</a>
								<a href="#" class="badge-btn badge badge-success">丝袜</a>
								<a href="#" class="badge-btn badge badge-success">美臀</a>
								<span class="pub_time float-right pr-3">2020-06-26</span>
							</div>
						</div>
					</div>
					<div class="media mb-2 ">
						<img src="https://li-1302251434.cos.ap-nanjing.myqcloud.com/album/Egup9Z5gehXyV5XLd6VM8c/1583824540a4L8.jpg"
						     class="align-self-center mr-3" alt="...">
						<div class="media-body">
							<h1>2019年剧情《侧颜/侧脸/失踪女孩》BD日语中字</h1>
							<p>透明的职业装，刻画出的是你绝色的欧派深沟，性感的小短裙遮不住你甜甜的蜜臀刻画出的是你，顺滑的黑丝里面，藏着的是一副压抑已久的肉体等待绽放！</p>
							<div class="news_item_tags">
								<a href="#" class="badge-btn badge badge-success">性感</a>
								<a href="#" class="badge-btn badge badge-success">美腿</a>
								<a href="#" class="badge-btn badge badge-success">丝袜</a>
								<a href="#" class="badge-btn badge badge-success">美臀</a>
								<span class="pub_time float-right pr-3">2020-06-26</span>
							</div>
						</div>
					</div>
					<div class="media mb-2 ">
						<img src="https://li-1302251434.cos.ap-nanjing.myqcloud.com/album/Egup9Z5gehXyV5XLd6VM8c/1583824540a4L8.jpg"
						     class="align-self-center mr-3" alt="...">
						<div class="media-body">
							<h1>2019年剧情《侧颜/侧脸/失踪女孩》BD日语中字</h1>
							<p>透明的职业装，刻画出的是你绝色的欧派深沟，性感的小短裙遮不住你甜甜的蜜臀刻画出的是你，顺滑的黑丝里面，藏着的是一副压抑已久的肉体等待绽放！</p>
							<div class="news_item_tags">
								<a href="#" class="badge-btn badge badge-success">性感</a>
								<a href="#" class="badge-btn badge badge-success">美腿</a>
								<a href="#" class="badge-btn badge badge-success">丝袜</a>
								<a href="#" class="badge-btn badge badge-success">美臀</a>
								<span class="pub_time float-right pr-3">2020-06-26</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 news_right">
				<div id="notices" class="notices">
					<div class="alert alert-warning" role="alert">
						<b><a class="report" href="https://segmentfault.com/news">欢迎广告金主爸爸赞助本网站!</a></b>
					</div>
				</div>
				<div class="mt-1 abcd">
					<p class="rounded-top">广告位</p>
					<a href="">
						<img class="img-fluid" src="{% static 'images/20200709.png' %}" alt="">
					</a>
				</div>
				<div class="mt-4 media_list d-flex flex-column">
					<div class="recommend_title rounded-top">
						<p class="recommend float-left font-weight-bold">影片推荐</p>
						<a href="">
							<p href="" class="more_btn float-right font-weight-bold text-light">更多</p>
						</a>
					</div>
					<div class="list_item text-nowrap overflow-hidden">
						<a href="">[IMISS爱蜜社] 2020.05.13 VOL.469 luvian本能</a>
						<a href="">2020年获奖剧情《乳牙/谢谢你爱过我》BD中英双字幕</a>
						<a href="">尤蜜Youmi 2019-03-28 闺房私雨 王语纯</a>
						<a href="">2019年剧情《侧颜/侧脸/失踪女孩》BD日语中字</a>
						<a href="">李宝儿温柔的小白鹿 想要安抚她脆弱的心</a>
						<a href="">2019年纪录片《气候变化：事实真相》BD中英双字幕</a>
						<a href="">2019年剧情《侧颜/侧脸/失踪女孩》BD日语中字</a>
						<a href="">2020年获奖剧情《乳牙/谢谢你爱过我》BD中英双字幕</a>
						<a href="">尤蜜Youmi 2020-04-30 鱼儿</a>
						<a href="">[XiuRen] 2020.05.19 No.2262 徐安安</a>
						<a href="">尤蜜Youmi 2020.05.30 只属于你 陈圆圆</a>
						<a href="">尤蜜Youmi 2020-06-06 紧致小背心 小尤奈</a>
						<a href="">尤蜜Youmi 2020-04-30 鱼儿</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 内容区 结束 -->
{% endblock %}