{% extends 'frontbase/base.html' %}
{% block title %}
	<title>{{ news.title }}</title>
{% endblock %}
{% block meta_tag %}
	<meta name="keywords" content="{{ news.title }} {% for news_tag in news.tag.all %} {{ news_tag.tag }}{% endfor %}">
	<meta name="description" content="{{ news.desc }}">
	<meta property="og:type" content="website"/>
	<meta property="og:locale" content="zh_CN">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{ news.title }}">
	<meta property="og:description" content="{% for news_tag in news.tag.all %} {{ news_tag.tag }}{% endfor %} {{ news.desc }}">
	<meta property="og:url" content="{{ url }}">
	<meta property="og:site_name" content="妹子图 妹子图官网首页 女神图片 美女图片 人体艺术 美女图片下载 秀人网">
	<meta property="og:updated_time" content="{{ news.pub_time }}">
	<meta property="article:section" content="meizitu.com-妹子图官网首页">
	<meta property="article:published_time" content="{{ news.pub_time }}">
	<meta property="article:modified_time" content="{{ news.pub_time }}">
	<meta property="twitter:description" content="{% for news_tag in news.tag.all %} {{ news_tag.tag }}{% endfor %} {{ news.desc }}">
	<meta property="twitter:title" content="{{ news.title }}">
{% endblock %}
{% block head %}
	<link rel="canonical" href="{{ url }}">
	<link rel="stylesheet" href="{% static 'css/news_detail.min.css' %}">
{% endblock %}

{% block main %}
	<!-- 内容区 开始 -->
	<div class="container mt-3 " id="news_article">
		<div class="row justify-content-between">
			<div class="article_left col-12 col-sm-12 col-lg-9">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">现在位置</a></li>
						<li class="breadcrumb-item"><a href="{% url 'news:news_index' %}">最新情报</a></li>
						<li class="breadcrumb-item active" aria-current="page">{{ news.title }}</li>
					</ol>
				</nav>
				<div class="article_content w-100 rounded p-3">
					<div class="article_header text-center">
						<h1 class="title font-weight-bold">{{ news.title }}</h1>
						<p class="pub_time mt-2 text-secondary">{{ news.pub_time }}</p>
						<p class="desc font-italic">{{ news.desc }}</p>
					</div>
					<div class="article_body mt-4">
						<article class="article">
							{{ news.content|safe }}
						</article>
					</div>
				</div>
			</div>

			<div class="article_right col-lg-3 d-none d-lg-block pr-0">
				<div class="adgroup">
					<p class="adtitle bg-success text-white">广告位置1</p>
					<div class="aditems mt-1 mb-3">
						<img class="img-fluid" src="{% static 'images/20200709.png' %}" alt="">
					</div>
				</div>

				<div class="hot_news">
					<p class="hot_news_title bg-success text-white">热点资讯</p>
					<div class="hot_news_items">

						{% for side_news in side_newses %}
							<div class="row no-gutters mt-2 pb-2">
								<div class="col-md-4 flex-column align-self-center left-img">
									<a href="{{ side_news.get_absolute_url }}">
										<img src="{{ side_news.thumbnail }}" class="card-img" alt="{{ side_news.title }}">
									</a>
								</div>
								<div class="col-md-8 right-text">
									<a href="{{ side_news.get_absolute_url }}" class="text-decoration-none">
										<h2 class="card-title text-success"><span>•&nbsp;</span>{{ side_news.title }}</h2>
										<div class="content">
											<p class="font-italic font-weight-normal">{{ side_news.desc }}</p>
										</div>
									</a>
									<div class="pub_time text-right">
										<p>{{ side_news.pub_time|date }}</p>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- 内容区 结束 -->
{% endblock %}
