{% extends 'frontbase/base.html' %}
{% block title %}
	<title>{{ beauty.beauty_name }}的详细资料</title>
{% endblock %}
{% block meta_tag %}
	<meta name="keywords" content="{{ beauty.beauty_name }}">
	<meta name="description" content="{{ beauty.detail }}">
	<meta property="og:locale" content="zh_CN">
	<meta property="og:type" content="article">
	<meta property="og:title" content="meizitu.com-妹子图官网首页">
	<meta property="og:description" content="meizitu.com 国内最大的美女图片分享网站，妹子图官网提供美女信息浏览，美女图片在线观看，和女神图片的下载">
	<meta property="og:url" content="{{ url }}">
	<meta property="og:site_name" content="妹子图 妹子图官网首页 女神图片 美女图片 人体艺术">
	<meta property="og:updated_time" content="{{ beauty.create_time }}">
	<meta property="article:section" content="meizitu.com-妹子图官网首页">
	<meta property="article:published_time" content="{{ beauty.create_time }}">
	<meta property="article:modified_time" content="{{ beauty.modify_time }}">
	<meta property="twitter:description" content="meizitu.com 国内最大的美女图片分享网站，妹子图官网提供美女信息浏览，美女图片在线观看，和女神图片的下载">
	<meta property="twitter:title" content="meizitu.com-妹子图官网首页">
{% endblock %}
{% block head %}
	<link rel="canonical" href="{{ url }}">
    <link rel="stylesheet" href="{% static 'css/beauty_detail.min.css' %}">
{% endblock %}

{% block main %}
    <!-- 内容区 开始 -->
    <div class="container mt-3 " id="beauty_article">
        <div class="row justify-content-between">
            <div class="article_left col-12 col-sm-12 col-lg-8">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb ">
                        <li class="breadcrumb-item"><a href="#">现在位置</a></li>
                        <li class="breadcrumb-item"><a href="#">首页</a></li>
                        <li class="breadcrumb-item"><a href="#">女神专区</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ beauty.beauty_name }}</li>
                    </ol>
                </nav>
                <div class="article_content p-3">
                    <div class="row person_info rounder d-flex flex-column">
                        <div class="col-12 p-3 beauty_header justify-content-between">
                            <h2 class="pl-2 font-weight-bold btn btn-warning">{{ beauty.beauty_name }} </h2>
                            <p class="pr-2 btn btn-primary float-right">个人百科词条</p>
                        </div>
                        <div class="mt-3 d-flex flex-row info">
                            <div class="imgss col-4">
                                <img class="lazyload img-fluid img-thumbnail" src="" data-src="{{ url }}{{ beauty.cover_img }}" alt="{{ beauty.beauty_name }}">
                            </div>
                            <div class="person_data col-4">
                                <table class="table table-bordered table-light table-sm">
                                    <tbody>
                                        <tr>
                                            <td>年龄</td>
                                            <td>{{ beauty.age }}</td>
                                        </tr>
                                        <tr>
                                            <td>生日</td>
                                            <td>{{ beauty.birthday }}</td>
                                        </tr>
                                        <tr>
                                            <td>星 座</td>
                                            <td>{{ beauty.xingzuo }}</td>
                                        </tr>
                                        <tr>
                                            <td>身 高</td>
                                            <td>{{ beauty.tall }}</td>
                                        </tr>
                                        <tr>
                                            <td>体 重</td>
                                            <td>{{ beauty.weight }} KG</td>
                                        </tr>
                                        <tr>
                                            <td>三 围</td>
                                            <td>{{ beauty.sanwei }}</td>
                                        </tr>
                                        <tr>
                                            <td>出 生</td>
                                            <td>{{ beauty.country }}</td>
                                        </tr>
                                        <tr>
                                            <td>职 业</td>
                                            <td>{{ beauty.job }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="rate col-4 align-content-center">
                                <div class="score text-secondary font-weight-bold text-center pb-2">
                                    <span>9.2</span>
                                </div>
                                <p class="text-center">给出您的评价(125人评分)</p>
                                <div class="five_star text-center">
                                    <svg t="1591701956961" class="icon" fill="#6c757d" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1965" width="2.4em" height="2.4em">
                                        <path
                                            d="M512 768l-174.250667 91.605333a42.666667 42.666667 0 0 1-61.909333-44.970666l33.28-194.048-141.013333-137.386667a42.666667 42.666667 0 0 1 23.68-72.832l194.816-28.288 87.125333-176.554667a42.666667 42.666667 0 0 1 76.544 0l87.125333 176.554667 194.816 28.288a42.666667 42.666667 0 0 1 23.68 72.789333l-141.013333 137.429334 33.28 194.048a42.666667 42.666667 0 0 1-61.866667 44.970666L512 768z">
                                        </path>
                                    </svg>
                                    <svg t="1591701956961" class="icon" fill="#6c757d" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1965" width="2.4em" height="2.4em">
                                        <path
                                            d="M512 768l-174.250667 91.605333a42.666667 42.666667 0 0 1-61.909333-44.970666l33.28-194.048-141.013333-137.386667a42.666667 42.666667 0 0 1 23.68-72.832l194.816-28.288 87.125333-176.554667a42.666667 42.666667 0 0 1 76.544 0l87.125333 176.554667 194.816 28.288a42.666667 42.666667 0 0 1 23.68 72.789333l-141.013333 137.429334 33.28 194.048a42.666667 42.666667 0 0 1-61.866667 44.970666L512 768z">
                                        </path>
                                    </svg>
                                    <svg t="1591701956961" class="icon" fill="#6c757d" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1965" width="2.4em" height="2.4em">
                                        <path
                                            d="M512 768l-174.250667 91.605333a42.666667 42.666667 0 0 1-61.909333-44.970666l33.28-194.048-141.013333-137.386667a42.666667 42.666667 0 0 1 23.68-72.832l194.816-28.288 87.125333-176.554667a42.666667 42.666667 0 0 1 76.544 0l87.125333 176.554667 194.816 28.288a42.666667 42.666667 0 0 1 23.68 72.789333l-141.013333 137.429334 33.28 194.048a42.666667 42.666667 0 0 1-61.866667 44.970666L512 768z">
                                        </path>
                                    </svg>
                                    <svg t="1591701956961" class="icon" fill="#6c757d" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1965" width="2.4em" height="2.4em">
                                        <path
                                            d="M512 768l-174.250667 91.605333a42.666667 42.666667 0 0 1-61.909333-44.970666l33.28-194.048-141.013333-137.386667a42.666667 42.666667 0 0 1 23.68-72.832l194.816-28.288 87.125333-176.554667a42.666667 42.666667 0 0 1 76.544 0l87.125333 176.554667 194.816 28.288a42.666667 42.666667 0 0 1 23.68 72.789333l-141.013333 137.429334 33.28 194.048a42.666667 42.666667 0 0 1-61.866667 44.970666L512 768z">
                                        </path>
                                    </svg>
                                    <svg t="1591701956961" class="icon" fill="#6c757d" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1965" width="2.4em" height="2.4em">
                                        <path
                                            d="M512 768l-174.250667 91.605333a42.666667 42.666667 0 0 1-61.909333-44.970666l33.28-194.048-141.013333-137.386667a42.666667 42.666667 0 0 1 23.68-72.832l194.816-28.288 87.125333-176.554667a42.666667 42.666667 0 0 1 76.544 0l87.125333 176.554667 194.816 28.288a42.666667 42.666667 0 0 1 23.68 72.789333l-141.013333 137.429334 33.28 194.048a42.666667 42.666667 0 0 1-61.866667 44.970666L512 768z">
                                        </path>
                                    </svg>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3 person_detail">
                        <div class="col-12 p-0">
                            <p class="title">详细资料</p>
                            <p class="detail_body">{{ beauty.detail }}</p>
                        </div>
                    </div>

                    <div class="row mt-3 d-flex flex-row person_album">
                        <p class="title">女神所拍摄的图集</p>
	                    {% for beauty_album in beauty_albums %}
		                    <div class="img_display col-6 col-sm-4 col-lg-4 mb-2">
	                            <div class="thumbnail">
	                                <a class="imgs_link" href="{{ beauty_album.get_absolute_url }}">
	                                    <img class="lazyload border border-secondary" src="" data-src="{{ url }}{{ beauty_album.cover_img }}" alt="{{ beauty.beauty_name }}">
	                                </a>
	                                <div class="imgs_title">
	                                    <h2 class="title_height">
	                                        <a class="text-dark" href="{{ beauty_album.get_absolute_url }}">{{ beauty_album.title }}</a>
	                                    </h2>
	                                </div>
	                            </div>
	                        </div>
	                    {% endfor %}
                    </div>

                </div>
            </div>

            <div class="article_right col-lg-4 d-none d-lg-block pr-0 pl-5">
                <p class="adtitle bg-success text-white">广告位</p>
                <div class="aditems mt-1 mb-3">
	                <img src="{% static 'images/20200709.png' %}" alt="" class="img-fluid pb-3">
	                <img src="{% static 'images/20200709.png' %}" alt="" class="img-fluid ">
                </div>
            </div>
        </div>
    </div>
    <!-- 内容区 结束 -->

	{% comment %}猜你喜欢女神功能开始{% endcomment %}
	{% include 'frontbase/suggest_beauty_5.html' with random_beautys=random_beautys %}
	{% comment %}猜你喜欢女神功能结束{% endcomment %}

{% endblock %}

{% block jsfile %}
    <script src="{% static 'js/beauty_detail.min.js' %}"></script>
{% endblock %}