<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{% block title %}{% endblock %}
	{% block meta_tag %}{% endblock %}

	<link rel="shortcut icon" type="image/svg+xml" href="{% static 'images/love_fill.svg' %}" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/init.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontbase.min.css' %}">
	{% block head %}{% endblock %}
</head>

<body>
<script id="__bs_script__">
    //<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>".replace("HOST", location.hostname));
    //]]>
</script>

<!-- 导航栏 开始 -->
<nav class="container navbar navbar-expand-lg navbar-dark bg-success" id="daohang">
	<a class="navbar-brand" href="{% url 'news_index' %}">妹子图官网</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link text-light" href="{% url 'album:album' %}" target="_blank">美女图库</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light" href="{% url 'beauty:beauty_index' %}" target="_blank">美女排行榜</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light" href="javascript:void(0)">每日更新</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link text-light" href="javascript:void(0)">下载专区</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0 " method="post" action="{% url 'search' %}">
			{% csrf_token %}
			<input class="form-control mr-sm-2 " type="search" placeholder="输入搜索美女" aria-label="Search"
			       name="query">
			<button class="btn btn-success border-light my-2 my-sm-0 text-light font-weight-bolder" type="submit">
				搜索一下
			</button>
		</form>
	</div>
</nav>
<!-- 导航栏 结束 -->

{% block main %}{% endblock %}

<!-- 底部footer信息展示 开始 -->
{% include 'frontbase/footer.html' %}
<!-- 底部footer信息展示 结束 -->

<!-- 底部版权 开始 -->
<div class="container mt-3 mb-3" id="copyright">
	<div>
		<p class="text-center text-secondary">本站所有资源来源于网友上传与分享，如有关内容侵犯了你的权益，请联系告之，我们会第一时间删除！邮箱:zngirls520@gmail.com</p>
		<p class="text-center text-secondary">© 2017－现在 nvshens.net, all rights reserved</p>
	</div>
</div>
<!-- 底部版权 结束 -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/m_ajax.min.js' %}"></script>
<script src="{% static 'js/message.min.js' %}"></script>
<script src="{% static 'js/lazyload.min.js' %}"></script>
<script src="{% static 'js/frontbase.min.js' %}"></script>
{% block jsfile %}{% endblock %}

</body>

</html>