<div class="container border mt-3" id="tags">
        <div class="row">
            <p class="text-dark">个性标签 - {{ tag_chosen|default:'最新' }}</p>
            <ul class="tags_1">
                <li class="manytags">
                    <a href="{% url 'beauty:tags' tag='模特&麻豆' %}" class="badge badge-pill badge-success">模特&麻豆</a>
                    <a href="{% url 'beauty:tags' tag='演员' %}" class="badge badge-pill badge-success">演员</a>
                    <a href="{% url 'beauty:tags' tag='小清新' %}" class="badge badge-pill badge-success">小清新</a>
                    <a href="{% url 'beauty:tags' tag='淑女' %}" class="badge badge-pill badge-success badge-warning">淑女</a>
                    <a href="{% url 'beauty:tags' tag='辣妹' %}" class="badge badge-pill badge-success badge-warning">辣妹</a>
                    <a href="{% url 'beauty:tags' tag='甜心美女' %}" class="badge badge-pill badge-success badge-warning">甜心美女</a>
                    <a href="{% url 'beauty:tags' tag='白皙肤色' %}" class="badge badge-pill badge-success badge-warning">白皙肤色</a>
                    <a href="{% url 'beauty:tags' tag='茶色皮肤' %}" class="badge badge-pill badge-success badge-warning">茶色皮肤</a>
                </li>
                <li class="manytags">
                    <a href="{% url 'beauty:tags' tag='AKB48' %}" class="badge badge-pill badge-success">AKB48</a>
                    <a href="{% url 'beauty:tags' tag='少女时代' %}" class="badge badge-pill badge-success">少女时代</a>
                    <a href="{% url 'beauty:tags' tag='早安少女组' %}" class="badge badge-pill badge-success">早安少女组</a>
                    <a href="{% url 'beauty:tags' tag='SDN48' %}" class="badge badge-pill badge-success">SDN48</a>
                    <a href="{% url 'beauty:tags' tag='HKT48' %}" class="badge badge-pill badge-success">HKT48</a>
                    <a href="{% url 'beauty:tags' tag='SKE48' %}" class="badge badge-pill badge-warning">SKE48</a>
                    <a href="{% url 'beauty:tags' tag='Dream Girls' %}" class="badge badge-pill badge-warning">Dream Girls</a>
                    <a href="{% url 'beauty:tags' tag='F90天团' %}" class="badge badge-pill badge-warning">F90天团</a>
                    <a href="{% url 'beauty:tags' tag='G☆Girls' %}" class="badge badge-pill badge-warning">G☆Girls</a>
                    <a href="{% url 'beauty:tags' tag='惠比寿麝香葡萄' %}" class="badge badge-pill badge-warning">惠比寿麝香葡萄</a>
                    <a href="{% url 'beauty:tags' tag='螺旋猫' %}" class="badge badge-pill badge-warning">螺旋猫</a>
                    <a href="{% url 'beauty:tags' tag='36D天团' %}" class="badge badge-pill badge-warning">36D天团</a>
                    <a href="{% url 'beauty:tags' tag='Showgirl' %}" class="badge badge-pill badge-warning">Showgirl</a>
                </li>
                <li class="manytags_special">
                    <a href="{% url 'beauty:tags' tag='萝莉' %}" class="badge badge-pill badge-success">萝莉</a>
                    <a href="{% url 'beauty:tags' tag='美少女' %}" class="badge badge-pill badge-success">美少女</a>
                    <a href="{% url 'beauty:tags' tag='御姐' %}" class="badge badge-pill badge-success">御姐</a>
                    <a href="{% url 'beauty:tags' tag='熟女' %}" class="badge badge-pill badge-success">熟女</a>
                    <a href="{% url 'beauty:tags' tag='美腿' %}" class="badge badge-pill badge-success badge-warning">美腿</a>
                    <a href="{% url 'beauty:tags' tag='美臀' %}" class="badge badge-pill badge-success badge-warning">美臀</a>
                    <a href="{% url 'beauty:tags' tag='平胸妹纸' %}" class="badge badge-pill badge-success badge-warning">平胸妹纸</a>
                    <a href="{% url 'beauty:tags' tag='骨感美女' %}" class="badge badge-pill badge-success badge-warning">骨感美女</a>
                    <a href="{% url 'beauty:tags' tag='童颜巨乳' %}" class="badge badge-pill badge-success badge-warning">童颜巨乳</a>
                    <a href="{% url 'beauty:tags' tag='波涛汹涌' %}" class="badge badge-pill badge-success badge-warning">波涛汹涌</a>
                    <a href="{% url 'beauty:tags' tag='人间胸器' %}" class="badge badge-pill badge-success badge-warning">人间胸器</a>
                    <a href="{% url 'beauty:tags' tag='大耳朵' %}" class="badge badge-pill badge-success badge-warning">大耳朵</a>
                    <a href="{% url 'beauty:tags' tag='G奶女神' %}" class="badge badge-pill badge-success badge-warning">G奶女神</a>
                    <a href="{% url 'beauty:tags' tag='小虎牙' %}" class="badge badge-pill badge-success badge-warning">小虎牙</a>
                    <a href="{% url 'beauty:tags' tag='美人痣' %}" class="badge badge-pill badge-success badge-warning">美人痣</a>
                    <a href="{% url 'beauty:tags' tag='美唇' %}" class="badge badge-pill badge-success badge-warning">美唇</a>
                    <a href="{% url 'beauty:tags' tag='小酒窝' %}" class="badge badge-pill badge-success badge-warning">小酒窝</a>
                    <a href="{% url 'beauty:tags' tag='丹凤眼' %}" class="badge badge-pill badge-success badge-warning">丹凤眼</a>
                </li>
            </ul>
            <ul class="tags_2 ">
                <li class="tuijiguidang ">
                    <span class="badge badge-danger ">所属国家</span><br>
                    <a href="{% url 'beauty:tags' tag='内地女神' %}">内地女神</a>
                    <a href="{% url 'beauty:tags' tag='香港女神' %}">香港女神</a>
                    <a href="{% url 'beauty:tags' tag='台湾正妹' %}">台湾正妹</a>
                    <a href="{% url 'beauty:tags' tag='澳门美女' %}">澳门美女</a>
                    <a href="{% url 'beauty:tags' tag='日本女优' %}">日本女优</a>
                    <a href="{% url 'beauty:tags' tag='韩国美女' %}">韩国美女</a>
                    <a href="{% url 'beauty:tags' tag='泰国女星' %}">泰国女星</a>
                    <a href="{% url 'beauty:tags' tag='新加坡美女' %}">新加坡美女</a>
                    <a href="{% url 'beauty:tags' tag='大马美女' %}">大马美女</a>
                    <a href="{% url 'beauty:tags' tag='混血女神' %}">混血女神</a>
                    <a href="{% url 'beauty:tags' tag='亚洲女神' %}">亚洲女神</a>
                </li>
                <li>
                    <span class="badge badge-danger mb-2">身份所属</span><br>
                    <a href="{% url 'beauty:tags' tag='清纯美女' %}">清纯美女</a>
                    <a href="{% url 'beauty:tags' tag='校花' %}">校花</a>
                    <a href="{% url 'beauty:tags' tag='空姐' %}">空姐</a>
                    <a href="{% url 'beauty:tags' tag='教师' %}">教师</a>
                    <a href="{% url 'beauty:tags' tag='海归' %}">海归</a>
                    <a href="{% url 'beauty:tags' tag='OL' %}">OL</a>
                    <a href="{% url 'beauty:tags' tag='Cosplayer' %}">Cosplayer</a>
                    <a href="{% url 'beauty:tags' tag='学生' %}">学生</a>
                    <a href="{% url 'beauty:tags' tag='嫩模' %}">嫩模</a>
                    <a href="{% url 'beauty:tags' tag='淘女郎' %}">淘女郎</a>
                    <a href="{% url 'beauty:tags' tag='舞蹈家' %}">舞蹈家</a>
                    <a href="{% url 'beauty:tags' tag='啦啦队' %}">啦啦队</a>
                    <a href="{% url 'beauty:tags' tag='企业家' %}">企业家</a>
                    <a href="{% url 'beauty:tags' tag='高学历' %}">高学历</a>
                    <a href="{% url 'beauty:tags' tag='近视' %}">近视</a>
                    <a href="{% url 'beauty:tags' tag='左撇子' %}">左撇子</a>
                    <a href="{% url 'beauty:tags' tag='整容' %}">整容</a>
                    <a href="{% url 'beauty:tags' tag='假胸' %}">假胸</a>
                    <a href="{% url 'beauty:tags' tag='人妖' %}">人妖</a>
                    <a href="{% url 'beauty:tags' tag='足球宝贝' %}">足球宝贝</a>
                    <a href="{% url 'beauty:tags' tag='模特&麻豆' %}">气质女神</a>
                    <a href="{% url 'beauty:tags' tag='配音&声优' %}">配音&声优</a>
                    <a href="{% url 'beauty:tags' tag='主播&主持人' %}">主播&主持人</a>
                    <a href="{% url 'beauty:tags' tag='车模&赛车女郎' %}">车模&赛车女郎</a>
                    <a href="{% url 'beauty:tags' tag='纹身&刺青' %}">纹身&刺青</a>
                    <a href="{% url 'beauty:tags' tag='瑜伽教练' %}">瑜伽教练</a>
                    <a href="{% url 'beauty:tags' tag='芭比娃娃' %}">芭比娃娃</a>
                    <a href="{% url 'beauty:tags' tag='选美小姐' %}">选美小姐</a>
                    <a href="{% url 'beauty:tags' tag='书法美女' %}">书法美女</a>
                    <a href="{% url 'beauty:tags' tag='美女作家' %}">美女作家</a>
                    <a href="{% url 'beauty:tags' tag='网络美女' %}">网络美女</a>
                    <a href="{% url 'beauty:tags' tag='写真女优' %}">写真女优</a>
                    <a href="{% url 'beauty:tags' tag='体坛美女' %}">体坛美女</a>
                </li>
            </ul>
        </div>
    </div>