<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<title>404页面找不到啦</title>
</head>

<body>
<div class="container mt-5 mb-5">
	<h1 class="text-center font-weight-bolder">很抱歉，您浏览的页面暂时不能访问哦！</h1>
	<h3 class="text-center font-weight-bold mt-5 mb-5"><span id="time" class="text-primary">3</span><span class="text-primary">.....</span> 秒后将自动跳转到<a href="/"
	                                                               target="_self" id="newUrl">官方网站</a>
	</h3>
</div>
<!-- 底部版权 开始 -->
<div class="container mt-5" id="copyright">
	<div>
		<p class="text-center text-secondary">
			本站所有资源来源于网友上传与分享，如有关内容侵犯了你的权益，请联系告之，我们会第一时间删除！邮箱:zngirls520@gmail.com</p>
		<p class="text-center text-secondary">© 2017－现在 nvshens.net, all rights reserved</p>
	</div>
</div>
<!-- 底部版权 结束 -->

<script>
    (function () {
        var time = document.getElementById("time");
        var i = parseInt(time.innerHTML);
        var newUrl = document.getElementById("newUrl");
        (function (i) {
            var fn = arguments.callee;
            if (i > 0) {
                setTimeout(function () {
                    time.innerHTML = i;
                    fn(--i);
                }, 1000);
            } else {
                window.location.href = newUrl.href;
            }
        })(i);
    })();
</script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>